pre.programlisting {
	font-size: 100%;
	display: block;
	padding: 10px;
	overflow: auto;
	border-radius: 2.5px;
	-moz-border-radius: 2.5px;
	margin: 0.5em 2em;
	/*background: #e8f0f8;*/
	background: aliceblue;
	color: #000000;
	border: 1px solid #708890;

}
